<!DOCTYPE html>
<html>
<body>

<h1>נא מלא את הפרטים הבאים</h1>

<form action="/det_req">

    <label for="user_mail">user_mail:</label>
    <input type="text" id="user_mail" name="user_mail" required><br><br>

    <label for="car_number">car_number:</label>
    <input type="text" id="car_number" name="car_number" required><br><br>

    <label for="company_name">company_name:</label>
    <input type="text" id="company_name" name="company_name" required><br><br>

    <label for="driver_phone">driver_phone:</label>
    <input type="text" id="driver_phone" name="driver_phone" required><br><br>

    <label for="applicant_name">applicant_name:</label>
    <input type="text" id="applicant_name" name="applicant_name" required><br><br>

    <label for="department">department:</label>
    <input type="text" id="department" name="department" required><br><br>

    <label for="parking_lot_name">parking_lot_name:</label>
    <input type="text" id="parking_lot_name" name="parking_lot_name" required><br><br>


    <input type="submit">
</form>

</body>
</html>
