<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <title>האוניברסיטה העברית חניון</title>
</head>

<h2>שלום לך מנהל סביר</h2>
<html>
<body>
<h2><a href="/">חזרה למסך הבית</a></h2>
######
<form action="/show_parking_lot">
    <select name=colours method="GET">
        {% for colour in colours %}
        <option value="{{colour}}" SELECTED>{{ colour }}</option>
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="hide-md-lg">
                </div>
                <script>
                    $(function () {
                            $('input[name="date"]').daterangepicker({
                                singleDatePicker: true,
                                timePicker: true,
                                timePicker24Hour: true,
                                timePickerIncrement: 20,
                                showDropdowns: true,
                                locale: {
                                    applyLabel: "אישור",
                                    cancelLabel: "ביטול",
                                    format: "DD/MM/YYYY HH:mm",
                                    daysOfWeek: [
                                        "א",
                                        "ב",
                                        "ג",
                                        "ד",
                                        "ה",
                                        "ו",
                                        "שבעס"
                                    ],
                                    monthNames: [
                                        "ינואר",
                                        "פברואר",
                                        "מרץ",
                                        "אפריל",
                                        "מאי",
                                        "יוני",
                                        "יולי",
                                        "אוגוסט",
                                        "ספטמבר",
                                        "אוקטובר",
                                        "נובמבר",
                                        "דצמבר"
                                    ]
                                },
                                minDate: moment()
                            })
                        }
                    )
                </script>
                <input type="text" name="date"/>
                <input type="submit" value="לצפיה במצב חניון, בחר חניון, תאריך, ולחץ עלי">
            </div>
        </div>
    </select>
</form>

#####
<form action='/add_manager'>
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="הוספת מנהל">
            </div>
        </div>
    </div>
</form>
######

<form action='/add_parking_lot'>
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="רשום את שם החניון החדש" required>
                <input type="submit" value="הוספת חניון">
            </div>
        </div>
    </div>
</form>
######

<form action="/remove_parking_lot">
    <select name=colours method="GET">
        {% for colour in colours %}
        <option value="{{colour}}" SELECTED>{{ colour }}</option>
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="hide-md-lg">
                </div>
                <input type="submit" value="להשמדת חניון, בחר חניון וחלץ עלי">
            </div>
        </div>
    </select>
</form>

#######
<form action="/add_parking_spot">
    <select name=colours method="GET">
        {% for colour in colours %}
        <option value="{{colour}}" SELECTED>{{ colour }}</option>
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="hide-md-lg">
                </div>
            </div>
        </div>
    </select>

    <input type="text" name="parking_spot_name" placeholder="רשום את מספר החניה שברצונך לייצר" required>
    <input type="radio" id="henion1" name="is_truck" value="כן">
    <label for="כן">האם זו משאית?</label><br>
    <input type="submit" value="להוספת חניה לחניון, בחר חניון, ולחץ עלי">

</form>

########
<form action="/remove_parking_spot">
    <select name=colours method="GET">
        {% for colour in colours %}
        <option value="{{colour}}" SELECTED>{{ colour }}</option>
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="hide-md-lg">
                </div>
            </div>
        </div>
    </select>

    <input type="text" name="parking_spot_name" placeholder="מספר חניה להשמדה" required>
    <input type="submit" value="להשמדת חניה בחניון, בחר חניון, ולחץ עלי">

</form>

######
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>

########
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>
######
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>
#########
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>

########
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>
######
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>

########
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>
######
<form action="/register">
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <input type="text" name="usermail" placeholder="תחילית מייל (עד ה - @)" required>
                <input type="submit" value="שחזור או יצירת משתמש">
            </div>

        </div>
    </div>
</form>


</body>
</html>
