<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <title>האוניברסיטה העברית חניון</title>
</head>
<body>
<h1>נא הכנס פרטי בקשה</h1>
<h3>על הדקות להיות 00 או 20 או 40. לדוגמה 04:20</h3>

<form action="/req">

    <input type="checkbox" id="isTrack" name="isTrack" value="track">
    <label for="yes">?האם זו משאית</label><br>

    <br>

    <p>בחר חניון</p>
    <select name=colours method="GET">
        {% for colour in colours %}
        <option value="{{colour}}" SELECTED>{{ colour }}</option>
        {% endfor %}
        <div class="row">
            <div class="col">
                <div class="hide-md-lg">
                </div>
                <script>
                    $(function () {
                        $('input[name="date"]').daterangepicker({
                            singleDatePicker: true,
                            timePicker: true,
                            timePicker24Hour: true,
                            timePickerIncrement: 20,
                            showDropdowns: true,
                            locale: {
                                applyLabel: "אישור",
                                cancelLabel: "ביטול",
                                format: "DD/MM/YYYY HH:mm",
                                daysOfWeek: [
                                    "א",
                                    "ב",
                                    "ג",
                                    "ד",
                                    "ה",
                                    "ו",
                                    "שבעס"
                                ],
                                monthNames: [
                                    "ינואר",
                                    "פברואר",
                                    "מרץ",
                                    "אפריל",
                                    "מאי",
                                    "יוני",
                                    "יולי",
                                    "אוגוסט",
                                    "ספטמבר",
                                    "אוקטובר",
                                    "נובמבר",
                                    "דצמבר"
                                ]
                            },
                            minDate: moment()
                        })
                    })
                </script>
                <input type="text" name="date"/>
            </div>
        </div>
    </select>
    <input type="submit" value="אישור">
</form>

</body>
</html>
